/*Info*/
.HeaderMarginRight {
    margin-right: 10px;
}
.HeaderMarginLeft {
    margin-right: 10px;
}
.HeaderStackSwitcher {
    font-size: 101%;
}
.StackSwitcher {
    font-size: 110%;
}
.StaticInfoHeaderLabel {
    font-size: 170%;
    font-weight: bolder;
}
.StaticInfoLabel {
    font-size: 150%;
    font-weight: bold;
}
.DynamicInfoLabel {
    font-size: 150%;
    font-weight: bold;
}
.InfoHorizontal {
    margin-bottom: 10px;
}
.BoxBottom {
    padding-bottom: 10px;
}
/* .InfoProgressBar {
    min-height: none;
} */
.InfoProgressBar{
    -GtkProgressBar-min-horizontal-bar-height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

/*Control*/
.StaticControlLabel {
    font-size: 150%;
}
.ControlScale{
    font-size: 110%;
}
.Separator {
    opacity: 0;
}





